<VirtualHost *:80>
    ServerName {{ domain_name }}
    ServerAdmin {{ server_admin }}
    DocumentRoot {{ document_root }}

    <Directory {{ document_root }}>
        Options -Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ domain_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain_name }}_access.log combined
</VirtualHost>
